<script type="text/javascript">

  //////////////////////////////////////////////////////
  // PUSHER
  //////////////////////////////////////////////////////

  pusher.establish_channel = function() {
    var current_channel_name = $('#channel_name').text().toLowerCase();  // .replace(/^\s+|\s+$/g, "");
    this.subscribed_channel = this.pusher_agent.subscribe("presence-" + current_channel_name);

    this.subscribed_channel.bind('display_msg', function(data) {
      chatroom.display_msg(data.msg_sender, data.msg_content, data.msg_timestamp);
      chatroom.scrolldown();
      chatroom.highlight();
    });

    this.subscribed_channel.bind('pusher:member_added', function(member) {
      chatroom.announce_entry(member);
      chatroom.scrolldown();
      chatroom.update_members();
    });

    this.subscribed_channel.bind('pusher:member_removed', function(member) {
      chatroom.announce_departure(member);
      chatroom.scrolldown();
      chatroom.update_members();
    });
  };

  //////////////////////////////////////////////////////
  // CHATROOM
  //////////////////////////////////////////////////////

  var chatroom = {};

  chatroom.clear_msg_box = function() {
    event.preventDefault();
    $('#message_box').val('');
  };

  chatroom.entityMap = {
   "&": "&amp;",
   "<": "&lt;",
   ">": "&gt;",
   '"': '&quot;',
   "'": '&#39;',
   "/": '&#x2F;'
  };

  chatroom.escapeHtml = function(string) {
   return String(string).replace(/[&<>"'\/]/g, function (s) {
     return chatroom.entityMap[s];
   });
  };

  chatroom.capture_msg = function() {
    var unsanitized_msg = $('#message_box').val();
    return chatroom.escapeHtml(unsanitized_msg);
  };


  // GIFS here??
  // with an if statement
  // so if msg ends with .gif?
  // so if msg ends with .gif then in addition (or instead of) the pre tag it is wrapped
  // in an img tag with msg as the src
  chatroom.display_msg = function(sender, msg, time) {
    if (msg.indexOf('.gif') != -1 ) {
       $('<div class="row col-sm-12"><div class="col-sm-2 msg_display">' + sender +
        '</div><div class="col-sm-9"><pre><img src="' + msg +
        '" width=400 /></pre></div><div class="col-sm-1 de_emphasized msg_display">' + time +
        '</div></div>').appendTo($('#message_board'));
    } else {
      $('<div class="row col-sm-12"><div class="col-sm-2 msg_display">' + sender +
        '</div><div class="col-sm-9"><pre>' + msg +
        '</pre></div><div class="col-sm-1 de_emphasized msg_display">' + time +
        '</div></div>').appendTo($('#message_board'));
    }
  };

  chatroom.send_msg = function(content) {
    var target_channel = pusher.subscribed_channel.name;
    var current_channel_name = $('#channel_name').text().toLowerCase();
    var msg_content = content;

    $.ajax({
      url: "/chatroom/broadcast",
      type: "post",
      dataType: "json",
      data: {"target_channel":  target_channel,
             "target_channel_noprefix":  current_channel_name,
             "msg_content":     msg_content}
    });
  };

  chatroom.gethistory = function() {
    var current_channel_name = $('#channel_name').text().toLowerCase();

    $.ajax({
      url: "/chatroom/gethistory",
      type: "post",
      dataType: "json",
      data: {"target_channel_noprefix":  current_channel_name}
    }).done(function(data) {
      console.log(data);
      var max_i = data.length
      for (var i = 0; i < max_i; i++) {
        chatroom.display_msg(data[i].sender, data[i].content, data[i].pretty_time);
      };
      chatroom.scrolldown();
      chatroom.highlight();
      setTimeout(function() { chatroom.update_members(); }, 250);
    });
  };

  chatroom.highlight = function() {
    var all_codes = $('code');
    var i_max = all_codes.length;
    for (var i = 0; i < i_max; i++) {
      hljs.highlightBlock(all_codes[i]);
    };
  };

  chatroom.scrolldown = function() {
    var channel_wrapper_height = $('#channel_wrapper')[0].scrollHeight;
    $('#channel_wrapper').animate({ scrollTop: channel_wrapper_height },'slow');
  };

  chatroom.announce_entry = function(member) {
    var sender = "";
    var msg = "<span style='color: lightgrey; font-style: italic'>Update: " + member.info.name + " has joined the room.  Everyone say hi!</span>";
    chatroom.display_msg(sender, msg, "");
  };

  chatroom.announce_departure = function(member) {
    var sender = "";
    var msg = "<span style='color: lightgrey; font-style: italic'>Update: " + member.info.name + " has left the room...</span>";
    chatroom.display_msg(sender, msg, "");
  };

  chatroom.update_members = function() {
    $('#users_list').empty();
      pusher.subscribed_channel.members.each(function(member) {
      $('<li><a href="/">'+member.info.name+'</a></li>').appendTo($('#users_list'))
    })
  };

</script>

