

<h6>You are currently at: <span id='channel_name'><%= @channel_name %></span></h6>

<div class="row row-offcanvas row-offcanvas-right active">

  <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="well sidebar-nav">
      <ul class="nav">
        <li>Sidebar</li>
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->

  <div class="col-xs-12 col-sm-7">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>

    <div>
      <p>Here's where you enter message:</p><button>Send Msg</button>

      <%= text_area(:chat, :message, class: 'form-control') %>
    </div>

    <hr>

    <div class="row">
      <div class="col-12 col-sm-12 col-lg-12">
        <div class="col-2 col-sm-2 col-lg-2">
          name
        </div>
        <div class="col-10 col-sm-10 col-lg-10">
          <pre><code>asdf
            asdf
          </code></pre>
        </div>
      </div><!--/span-->
    </div><!--/row-->
  </div><!--/span-->

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="well sidebar-nav">
      <ul class="nav">
        <li>HackerNews etc</li>
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->

</div><!--/row-->

<hr>


<script type="text/javascript">
  $(function() {
    // var blahblah = $('#channel_name').text()
    pusher.establish_channel();
    console.log('js script loading');
  });

  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };
</script>


