
<!-- Carousel ================================================== -->
<div id="myCarousel" class="carousel slide">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li> -->
    <!-- <li data-target="#myCarousel" data-slide-to="1" class=""></li> -->
    <!-- <li data-target="#myCarousel" data-slide-to="2" class=""></li> -->
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="assets/landing_bg.jpg" style="height: 500px; width: 100%; display: block;">
      <div class="container">
        <div class="carousel-caption">
          <div style='font-size: 200%'><em>Introducing..</em></div>
          <br>
          <div style='font-size: 700%'>&ltPostScript/&gt</div>
          <br>
          <div style='font-size: 250%'>World's (Probably) the First Online Chat Forum For <em><u>Coders</u></em></div>
          <br><br><br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
</div><!-- /.carousel -->



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<hr>