
body {
  padding-top: 40px;
}

.icon_menu {
  padding-right: 3px;
  padding-left: 3px;
}

#channel_wrapper {
  /*position: absolute;*/
  /*margin: 20px;*/
  height: 450px;
  /*bottom: 0;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*display: block;*/
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
  vertical-align: bottom;
}

.left_sidebar {
  padding: 20px 0 0 5px;
  border: 1px;
  border-color: #e3e3e3;
  border-right-style: solid;
}